PyYAML==6.0
numpy==1.24.2
pandas==2.0.0
scikit-learn==1.2.1
light-curve==0.7.1
pyarrow==11.0.0
matplotlib==3.6.2
torch==2.0.0
torchaudio==2.0.1
torchsummary==1.5.1
torchvision==0.15.1
torchviz==0.0.2
